.form {
    margin: 1rem 0;
    overflow: auto;
    color: white;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px
  }
  
  .control {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }

  .ingredients {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    text-align: right;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe6dc;
  }
  
  .actions .submit {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  textarea {
    text-align: right;
    width: 100% !important;
    height: 20vh !important;
    max-width: 100%;
  }

  .errorValidation {
    color: #dc4747;
  }

  .spinner { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }