.container {
    width: 97%;
    padding: 20px;
    margin-top: 20px;
    text-align: right;
}

.title {
    color: white
}

.ingredientsTitle {
    color: white
}

.checkBox {
    color: white
}

.method {
    white-space: break-spaces;
    color: white
}

.spinner { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.erroMessageWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}