.wrapper {
    display: 'flex';
    justify-content: flex-end;
    width: 100%;
}

.groupName {
    font-weight: 400;
    font-size: 16px;
}

.groupMember {
    font-size: 15px;
}

.moreActions{
    margin-left: 8px;
}

.groupNameWrapper {
    display: flex;
}

.actions{
    display: flex;
}
